<h1 class="mb-2">Sayın, A Hoşgeldiniz</h1>
<div class="d-flex justify-content-between">
    <section id="apex-line-charts" style="width: calc(50% - 16px);">
        <div class="card" style="border-radius: 16px;">
            <!-- <div
                    class="card-header d-flex flex-sm-row flex-column justify-content-md-between align-items-start justify-content-start">
                    <div>
                        <h4 class="card-title mb-25">Balance</h4>
                        <span class="card-subtitle text-muted">Commercial networks & enterprises</span>
                    </div>
                    <div class="d-flex align-items-center flex-wrap mt-sm-0 mt-1">
                        <h5 class="font-weight-bolder mb-0 mr-1">$ 100,000</h5>
                        <div class="badge badge-light-secondary">
                            <i class="text-danger font-small-3" data-feather="arrow-down"></i>
                            <span class="align-middle">20%</span>
                        </div>
                    </div>
                </div> -->
            <div class="card-body" style="padding: 12px;">
                <div id="line-chart" (window:resize)="onResize($event)" #apexLineChartRef>
                    <apx-chart [series]="apexLineChart.series" [chart]="{
                height: 250,
                width: isMenuToggled === false ? apexLineChartRef.offsetWidth : apexLineChart.chart.width,
                type: 'line',
                zoom: {
                  enabled: false
                },
                toolbar: {
                  show: false
                }
              }" [xaxis]="apexLineChart.xaxis" [stroke]="apexLineChart.stroke" [tooltip]="apexLineChart.tooltip"
                        [colors]="apexLineChart.colors" [dataLabels]="apexLineChart.dataLabels"
                        [grid]="apexLineChart.grid"></apx-chart>
                </div>
            </div>
        </div>
    </section>
    <section id="apex-line-charts" style="width: calc(50% - 16px);">
        <div class="card" style="border-radius: 16px;">
            <!-- <div
                    class="card-header d-flex flex-sm-row flex-column justify-content-md-between align-items-start justify-content-start">
                    <div>
                        <h4 class="card-title mb-25">Balance</h4>
                        <span class="card-subtitle text-muted">Commercial networks & enterprises</span>
                    </div>
                    <div class="d-flex align-items-center flex-wrap mt-sm-0 mt-1">
                        <h5 class="font-weight-bolder mb-0 mr-1">$ 100,000</h5>
                        <div class="badge badge-light-secondary">
                            <i class="text-danger font-small-3" data-feather="arrow-down"></i>
                            <span class="align-middle">20%</span>
                        </div>
                    </div>
                </div> -->
            <div class="card-body" style="padding: 12px;">
                <div id="line-chart" (window:resize)="onResize($event)" #apexLineChartRef>
                    <apx-chart [series]="apexLineChart1.series" [chart]="{
                height: 250,
                width: isMenuToggled === false ? apexLineChartRef.offsetWidth : apexLineChart.chart.width,
                type: 'line',
                zoom: {
                  enabled: false
                },
                toolbar: {
                  show: false
                }
              }" [xaxis]="apexLineChart1.xaxis" [stroke]="apexLineChart1.stroke" [tooltip]="apexLineChart1.tooltip"
                        [colors]="apexLineChart1.colors" [dataLabels]="apexLineChart1.dataLabels"
                        [grid]="apexLineChart1.grid"></apx-chart>
                </div>
            </div>
        </div>
    </section>
</div>