<div class="col-12 d-flex flex-column align-items-center mt-2">
    <div class="col-11 d-flex justify-content-between inputs" style="gap: 32px;">
        <div style="flex: 1;">
            <input placeholder="TC Kimlik No" />
        </div>
        <div style="flex: 1;">
            <input placeholder="Ad Soyad" />
        </div>
        <div style="flex: 1;">
            <input placeholder="Cep Telefonu" />
        </div>
        <div class="d-flex justify-content-center align-items-center" style="flex: 1;">
            <button class="action-button" style="height: 24px; margin-top: 5px;">Getir</button>
        </div>
    </div>
    <div class="col-11 d-flex mt-3" style="gap: 32px;">
        <div style="flex: 1; border: solid 2px #ddd;">
            <table class="vertical-table">
                <tr>
                    <th>Ad Soyad</th>
                    <td>Ali Yılmaz</td>
                </tr>
                <tr>
                    <th>TC Kimlik No</th>
                    <td>112******56</td>
                </tr>
                <tr>
                    <th>Doğum Tarihi</th>
                    <td>11/11/1972</td>
                </tr>
                <tr>
                    <th>Anne Kızlık Soyadı</th>
                    <td>Ö***n</td>
                </tr>
                <tr>
                    <th>Kimlik Numarası</th>
                    <td>AB********21</td>
                </tr>
                <tr>
                    <th>Cep Telefonu</th>
                    <td>05324442266</td>
                </tr>
                <tr>
                    <th>E-Posta Adresi</th>
                    <td>ali.yilmaz@gmail.com</td>
                </tr>
                <tr>
                    <th>Çalışma Şekli</th>
                    <td>Serbest Meslek</td>
                </tr>
                <tr>
                    <th>Meslek</th>
                    <td>Terzi</td>
                </tr>
                <tr>
                    <th>Eğitim Durumu</th>
                    <td>Lise</td>
                </tr>
            </table>
        </div>
        <div style="flex: 1; border: solid 2px #ddd;">
            <table class="vertical-table">
                <tr>
                    <th>İşyeri Adı</th>
                    <td>Terzi Ustası</td>
                </tr>
                <tr>
                    <th>İşyeri Vergi Kimlik No</th>
                    <td>332*********88</td>
                </tr>
                <tr>
                    <th>Aylık Net Gelir</th>
                    <td>40.000 ₺</td>
                </tr>
                <tr>
                    <th>İşyeri Adresi</th>
                    <td>Lorem ipsum...</td>
                </tr>
                <tr>
                    <th>İşyeri İl</th>
                    <td>İstanbul</td>
                </tr>
                <tr>
                    <th>İşyeri İlçe</th>
                    <td>Maltepe</td>
                </tr>
                <tr>
                    <th>İşyeri Telefonu</th>
                    <td>02128889977</td>
                </tr>
                <tr>
                    <th>Son İşyerinde Çalışma Süresi</th>
                    <td>5+</td>
                </tr>
                <tr>
                    <th>Ev Sahipliği</th>
                    <td>Kendi Evi</td>
                </tr>
                <tr>
                    <th>Son Güncelleme Tarihi</th>
                    <td>12/02/2023</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-10 d-flex align-items-center inputs mt-3" style="gap: 32px;">
        <div style="flex: 1;">
            <input placeholder="Yeni Cep Telefonu" />
        </div>
        <div class="custom-control custom-checkbox" style="flex: 1;">
            <input type="checkbox" class="custom-control-input" style="z-index: 1;" />
            <label class="custom-control-label">SMS Gönderilsin</label>
        </div>
        <div class="custom-control custom-checkbox" style="flex: 1;">
            <input type="checkbox" class="custom-control-input" style="z-index: 1;" />
            <label class="custom-control-label">E-posta gönderilsin</label>
        </div>
        <div class="d-flex justify-content-center align-items-center" style="flex: 1;">
            <button class="action-button" style="height: 24px;">Kaydet</button>
        </div>
    </div>

</div>