<div class="auth-wrapper auth-v2">
  <div class="auth-inner row m-0">
    <!-- Brand logo-->
    <!-- <a class="brand-logo" href="javascript:void(0);">
      <img src="assets/images/logo/nurol.png" alt="brand-logo" height="40" />
      <h2 class="brand-text text-primary ml-1">{{ "nurolBank" }}</h2>
    </a> -->
    <!-- /Brand logo-->
    <!-- Left Text-->



    <div class="d-none d-lg-flex col-lg-6 p-4 flex-column" style="background: #1c4a84;">
      <div class="col-12 w-100 d-lg-flex flex-column justify-content-center px-4 py-4">




        <img src="assets/images/logo/nurol.png" alt="brand-logo" width="158" height="53" />
        <h1
          style="color: white; font-weight: bold !important; font-size: 42px; margin-top: 32px; margin-bottom: 160px;">
          Yatırımlarınız usta ellerde değer kazansın.<br>
          Kalıcı değerler üreten ustalıktan ilham alıyoruz.
        </h1>
        <!-- <img class="img-fluid" [src]="
            coreConfig.layout.skin === 'dark'
              ? 'assets/images/pages/login-v2-dark.svg'
              : 'assets/images/pages/login-v2.svg'
          " alt="Login V2" /> -->
      </div>
    </div>
    <!-- /Left Text-->
    <!-- Login-->
    <div class="d-flex col-lg-6 align-items-center auth-bg px-2 p-lg-5" style="background: #1c4a84 !important;">
      <div class="col-8 col-sm-8 col-md-3 col-lg-8 mx-auto px-3 py-5"
        style="position: relative; z-index: 1; background: white; border-radius: 24px;">
        <div
          style="position: absolute; top: 32px; bottom: 32px; left: -16px; right: -16px; z-index: -1; background: rgba(255,255,255,.3); border-radius: 16px;">
        </div>
        <div
          style="position: absolute; top: 64px; bottom: 64px; left: -28px; right: -28px; z-index: -2; background: rgba(255,255,255,.3); border-radius: 16px;">
        </div>
        <h1 *ngIf="!isOtp" class="card-title font-weight-bold mb-3"
          style="color: #1c4a84; font-weight: bold !important; font-size: 22px !important;">Giriş</h1>
        <h1 *ngIf="isOtp" class="card-title font-weight-bold mb-3"
          style="color: #1c4a84; font-weight: bold !important; font-size: 22px !important;">SMS şifresini girin.</h1>
        <!-- <p class="card-text mb-2">Please sign-in to your account and start the adventure</p>
        <ngb-alert [type]="'primary'" [dismissible]="false">
          <div class="alert-body font-small-2">
            <p>
              <small class="mr-50"><span class="font-weight-bold">Admin:</span> admin@demo.com | admin</small>
            </p>
            <p>
              <small class="mr-50"><span class="font-weight-bold">Client:</span> client@demo.com | client</small>
            </p>
          </div>
          <span
            class="feather icon-help-circle auth-help-icon font-medium-3"
            placement="left"
            ngbTooltip="This is just for role based JWT authorization demo purpose"
          ></span>
        </ngb-alert> -->

        <!-- <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="error">
          <div class="alert-body">
            <p>{{ error }}</p>
          </div>
        </ngb-alert> -->

        <form class="auth-login-form mt-2" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div *ngIf="!isOtp" class="form-group">
            <!-- <label class="form-label" for="login-email">Email</label> -->
            <input type="text" class="form-control mb-1 login-input"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Sicil Kodunuz" autofocus=""
              tabindex="1" />

            <input type="text" formControlName="email" class="form-control login-input"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Cep Telefonunuz"
              aria-describedby="login-email" autofocus="" tabindex="1" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
            <div class="d-flex justify-content-between">
              <!-- <label for="login-password">Password</label> -->
              <!-- <a routerLink="/pages/authentication/forgot-password-v2"><small>Forgot Password?</small></a> -->
            </div>
            <div class="input-group input-group-merge form-password-toggle mt-1">
              <input [type]="passwordTextType ? 'text' : 'password'" formControlName="password"
                class="form-control form-control-merge login-input"
                [ngClass]="{ 'is-invalid error': submitted && f.password.errors }" placeholder="Şifreniz"
                aria-describedby="login-password" tabindex="2" />
              <!-- <div class="input-group-append">
                <span class="input-group-text cursor-pointer"><i class="feather font-small-4" [ngClass]="{
                      'icon-eye-off': passwordTextType,
                      'icon-eye': !passwordTextType
                    }" (click)="togglePasswordTextType()"></i></span>
              </div> -->
            </div>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback"
              [ngClass]="{ 'd-block': submitted && f.password.errors }">
              <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
          </div>

          <div *ngIf="isOtp" class="form-group">
            <!-- <label class="form-label" for="login-email">Email</label> -->
            <input type="text" class="form-control mb-1 login-input"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="SMS Şifreniz" autofocus=""
              tabindex="1" />

          </div>
          <!-- <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" id="remember-me" type="checkbox" tabindex="3" />
              <label class="custom-control-label" for="remember-me"> Remember Me</label>
            </div>
          </div> -->
          <button *ngIf="!isOtp" [disabled]="loading" class="btn btn-primary btn-block mt-4"
            style="padding: 12px; font-size: 16px; background: #f11818 !important; border: none; border-radius: 32px;"
            tabindex="4" rippleEffect>
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Gönder
          </button>
          <button *ngIf="isOtp" [disabled]="loading" class="btn btn-primary btn-block mt-4"
            style="padding: 12px; font-size: 16px; background: #f11818 !important; border: none; border-radius: 32px;"
            tabindex="4" rippleEffect>
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Giriş
          </button>
          <div *ngIf="!isOtp" class="d-flex flex-row justify-content-center mt-2">
            <a routerLink="/pages/authentication/forgot-password-v2"><small
                style="font-weight: bold; color: #7c97b8;">Şifremi
                Unuttum</small></a>
          </div>
          <div *ngIf="isOtp" class="d-flex flex-row justify-content-between mt-2">
            <div><small style="font-weight: bold; color: #7c97b8;">Kalan süre 121 sn</small></div>
            <div><small style="font-weight: bold; color: #7c97b8;">Tekrar Gönder</small></div>
          </div>
        </form>
        <!-- <p class="text-center mt-2">
          <span>New on our platform?</span><a routerLink="/pages/authentication/register-v2"><span>&nbsp;Create an
              account</span></a>
        </p>
        <div class="divider my-2">
          <div class="divider-text">or</div>
        </div>
        <div class="auth-footer-btn d-flex justify-content-center">
          <a class="btn btn-facebook" href="javascript:void(0)"><i data-feather="facebook"></i></a><a
            class="btn btn-twitter white" href="javascript:void(0)"><i data-feather="twitter"></i></a><a
            class="btn btn-google" href="javascript:void(0)"><i data-feather="mail"></i></a><a class="btn btn-github"
            href="javascript:void(0)"><i data-feather="github"></i></a>
        </div> -->
      </div>
    </div>
    <!-- /Login-->
  </div>
</div>