<div class="card col-12 p-3 d-flex align-items-center">
    <div class="col-10 d-flex justify-content-between inputs" style="gap: 32px;">
        <div style="flex: 1;">
            <input placeholder="TC Kimlik No" />
            <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')"
                placeholder="Başlangıç Tarihi gg/aa/yyyy" />
            <select style="width: 100%;">
                <option value="" disabled selected>Bayi</option>
                <option value="a">A</option>
                <option value="b">B</option>
            </select>
        </div>
        <div style="flex: 1;">
            <input placeholder="Başvuru No" />
            <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')"
                placeholder="Bitiş Tarihi gg/aa/yyyy" />
            <select style="width: 100%;">
                <option value="" disabled selected>Statü</option>
                <option value="a">A</option>
                <option value="b">B</option>
            </select>
        </div>
        <div style="flex: 1;">
            <input placeholder="Ad Soyad" />
            <select style="width: 100%;">
                <option value="" disabled selected>Finansman Türü</option>
                <option value="a">A</option>
                <option value="b">B</option>
            </select>
            <input placeholder="Cep Telefonu" />
        </div>
    </div>
    <div class="col-10 d-flex justify-content-end mb-3">
        <button class="action-button" style="margin-left: 16px; height: 24px;">Getir</button>
    </div>


    <div class="col-12 results-table align-items-center">
        <table class="table">
            <thead>
                <tr>
                    <th>Başvuru No</th>
                    <th>TC Kimlik No</th>
                    <th>Ad Soyad</th>
                    <th>Başvuru Tarihi</th>
                    <th>Talep Tutar</th>
                    <th>Vade</th>
                    <th>Bayi</th>
                    <th>Finansman Türü</th>
                    <th>Sicil Kodu</th>
                    <th>İşlem</th>
                </tr>
            </thead>
            <tbody>
                <!-- Table row -->
                <tr *ngFor="let item of items; let i = index;">
                    <td style=" border-left: solid 2px #efefef">{{ "" }}</td>
                    <td>{{ "a" }}</td>
                    <td>{{ "a" }}</td>
                    <td>{{ "a" }}</td>
                    <td>{{ "a" }}</td>
                    <td>{{ "a" }}</td>
                    <td>{{ "a" }}</td>
                    <td>{{ "a" }}</td>
                    <td>{{ "a" }}</td>
                    <td
                        style="border-right: solid 2px #efefef; display: flex; justify-content: center; align-items: center;">
                        <button class="action-button" style="height: 24px;">Seç</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="application-number mt-3">Başvuru No: 452234</div>


    <!--tab selection-->
    <div class="d-flex justify-content-center mt-2" style="gap:16px">
        <div class="selection" (click)="tabSelection(0)"
            [ngStyle]="(selectedTab != 0 || showDecision) && {'color':'#1c4a84','background':'white'}">Müşteri Bilgileri
        </div>
        <div class="selection" (click)="tabSelection(1)"
            [ngStyle]="(selectedTab != 1 || showDecision) && {'color':'#1c4a84','background':'white'}">Sepet Bilgileri
        </div>
        <div class="selection" (click)="tabSelection(2)"
            [ngStyle]="(selectedTab != 2 || showDecision) && {'color':'#1c4a84','background':'white'}">GİB/Telco</div>
        <div class="selection" (click)="tabSelection(3)"
            [ngStyle]="(selectedTab != 3 || showDecision) && {'color':'#1c4a84','background':'white'}">KDS Sonucu</div>
        <div class="selection" (click)="tabSelection(4)"
            [ngStyle]="(selectedTab != 4 || showDecision) && {'color':'#1c4a84','background':'white'}">İlişkili
            Başvurular</div>
        <div class="selection" (click)="tabSelection(5)"
            [ngStyle]="(selectedTab != 5 || showDecision) && {'color':'#1c4a84','background':'white'}">Tarihçe</div>
        <div class="selection" (click)="showDecision = true"
            [ngStyle]="!showDecision && {'color':'#1c4a84','background':'white'}">Karar</div>
    </div>
    <!--tab selection-->

    <!--tab 0-->
    <div class="col-10 d-flex mt-3" style="gap: 32px;" *ngIf="selectedTab == 0">
        <div style="flex: 1; border: solid 2px #ddd;">
            <table class="vertical-table">
                <tr>
                    <th>Ad Soyad</th>
                    <td>Ali Yılmaz</td>
                </tr>
                <tr>
                    <th>TC Kimlik No</th>
                    <td>112******56</td>
                </tr>
                <tr>
                    <th>Doğum Tarihi</th>
                    <td>11/11/1972</td>
                </tr>
                <tr>
                    <th>Anne Kızlık Soyadı</th>
                    <td>Ö***n</td>
                </tr>
                <tr>
                    <th>Kimlik Numarası</th>
                    <td>AB********21</td>
                </tr>
                <tr>
                    <th>Cep Telefonu</th>
                    <td>05324442266</td>
                </tr>
                <tr>
                    <th>E-Posta Adresi</th>
                    <td>ali.yilmaz@gmail.com</td>
                </tr>
                <tr>
                    <th>Çalışma Şekli</th>
                    <td>Serbest Meslek</td>
                </tr>
                <tr>
                    <th>Meslek</th>
                    <td>Terzi</td>
                </tr>
                <tr>
                    <th>Eğitim Durumu</th>
                    <td>Lise</td>
                </tr>
            </table>
        </div>
        <div style="flex: 1; border: solid 2px #ddd;">
            <table class="vertical-table">
                <tr>
                    <th>İşyeri Adı</th>
                    <td>Terzi Ustası</td>
                </tr>
                <tr>
                    <th>İşyeri Vergi Kimlik No</th>
                    <td>332*********88</td>
                </tr>
                <tr>
                    <th>Aylık Net Gelir</th>
                    <td>40.000₺</td>
                </tr>
                <tr>
                    <th>İşyeri Adresi</th>
                    <td>Lorem ipsum...</td>
                </tr>
                <tr>
                    <th>İşyeri İl</th>
                    <td>İstanbul</td>
                </tr>
                <tr>
                    <th>İşyeri İlçe</th>
                    <td>Maltepe</td>
                </tr>
                <tr>
                    <th>İşyeri Telefonu</th>
                    <td>02128889977</td>
                </tr>
                <tr>
                    <th>Son İşyerinde Çalışma Süresi</th>
                    <td>5+</td>
                </tr>
                <tr>
                    <th>Ev Sahipliği</th>
                    <td>Kendi Evi</td>
                </tr>
                <tr>
                    <th>Teslimat Adresi</th>
                    <td>Lorem ipsum...</td>
                </tr>
            </table>
        </div>
    </div>
    <!--tab 0-->

    <!--tab 1 isCar-->
    <div class="col-6 d-flex flex-column mt-3" *ngIf="selectedTab == 1 && isCar">
        <div style="flex: 1; border: solid 2px #ddd;">
            <table class="vertical-table">
                <tr>
                    <th>Marka</th>
                    <td>BMW</td>
                </tr>
                <tr>
                    <th>Ürün Kategorisi</th>
                    <td>Araç</td>
                </tr>
                <tr>
                    <th>Ürün</th>
                    <td>520i SEDAN 1.6 170 SPORT LINE</td>
                </tr>
                <tr>
                    <th>Satış Tutarı</th>
                    <td>1.500.000 ₺</td>
                </tr>
                <tr>
                    <th>Adet</th>
                    <td>1</td>
                </tr>
                <tr>
                    <th>Toplam Satış Tutarı</th>
                    <td>1.500.000 ₺</td>
                </tr>
                <tr>
                    <th>Yıl</th>
                    <td>2020</td>
                </tr>
                <tr>
                    <th>Plaka</th>
                    <td>134 ABC 123</td>
                </tr>
                <tr>
                    <th>KM</th>
                    <td>12000</td>
                </tr>
                <tr>
                    <th>Konsinye mi?</th>
                    <td>Evet</td>
                </tr>
                <tr>
                    <th>Şasi No</th>
                    <td>222222222222</td>
                </tr>
                <tr>
                    <th>Kasko Değeri</th>
                    <td>1.400.000 ₺</td>
                </tr>
                <tr>
                    <th>Kullanım Amacı</th>
                    <td>Hususi</td>
                </tr>
                <tr>
                    <th>Tramer Hasar Değeri</th>
                    <td>0 ₺</td>
                </tr>
            </table>

        </div>
    </div>

    <!--!isCar-->
    <div class="col-6 d-flex flex-column mt-3" *ngIf="selectedTab == 1 && !isCar">
        <div style="flex: 1; border: solid 2px #ddd;">
            <table class="vertical-table">
                <tr>
                    <th>Marka</th>
                    <td>Arçelik</td>
                </tr>
                <tr>
                    <th>Ürün Kategorisi</th>
                    <td>Beyaz Eşya</td>
                </tr>
                <tr>
                    <th>Ürün</th>
                    <td>Buzdolabı, Klima</td>
                </tr>
                <tr>
                    <th>Toplam Satış Tutarı</th>
                    <td>45.000 ₺</td>
                </tr>
            </table>

        </div>
        <div class="mt-2 p-1" style="background: #e5e5e5; border-radius: 16px; text-align: center; color: #1c4a84;">
            <div class="d-flex" style="font-size: 13px; margin-bottom: 8px;">
                <div style="flex:4; text-align: start;">Buzdolabı</div>
                <div style="flex:5; border-left: solid 2px #1c4a84; border-right: solid 2px #1c4a84;">1 x 25.000 ₺</div>
                <div style="flex:4; text-align: end;">25.000 ₺</div>
            </div>
            <div class="d-flex" style="background: #e5e5e5; border-radius: 16px; font-size: 13px; margin-bottom: 16px;">
                <div style="flex:4; text-align: start;">Klima</div>
                <div style="flex:5; border-left: solid 2px #1c4a84; border-right: solid 2px #1c4a84;">2 x 10.000 ₺</div>
                <div style="flex:4; text-align: end;">20.000 ₺</div>
            </div>
            <div class="d-flex justify-content-between"
                style="background: #e5e5e5; border-radius: 16px; font-weight: bold;">
                <div>Toplam</div>
                <div>45.000 ₺</div>
            </div>
        </div>

    </div>
    <!--tab 1-->

    <!--tab 2-->
    <div class="col-6 align-items-center mt-3" *ngIf="selectedTab == 2">
        <div style="flex: 1; border: solid 2px #ddd;">
            <table class="vertical-table">
                <tr>
                    <th>Kuruluş Tarihi</th>
                    <td></td>
                </tr>
                <tr>
                    <th>Aktiflik Durumu</th>
                    <td></td>
                </tr>
                <tr>
                    <th>Vergi Matrahı</th>
                    <td></td>
                </tr>
                <tr>
                    <th>Sektör Kodu ve Açıklaması</th>
                    <td></td>
                </tr>
                <tr>
                    <th>İşe Başlama Tarihi</th>
                    <td></td>
                </tr>
                <tr>
                    <th>İşi Bırakma Tarihi</th>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="results-table mt-1" style="flex: 1; border: solid 2px #ddd;">
            <table class="table">
                <thead>
                    <tr>
                        <th>Telco Ödeme Statüsü</th>
                        <th>Telko Gecikme Tutarı</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Table row -->
                    <tr *ngFor="let item of items; let i = index;">
                        <td style=" border-left: solid 2px #efefef">{{ "a" }}</td>
                        <td style="border-right: solid 2px #efefef;">{{ "a" }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--tab 2-->

    <!--tab 3-->
    <div class="col-8 align-items-center mt-3" *ngIf="selectedTab == 3">
        <div style="flex: 1; border: solid 2px #ddd;">
            <table class="vertical-table">
                <tr>
                    <th>Kredi Kararı</th>
                    <td style="border-left: solid 2px #ddd;">{{ "a" }}</td>
                </tr>
                <tr>
                    <th>Sistemin Onayladığı Tutar</th>
                    <td style="border-left: solid 2px #ddd;">{{ "a" }}</td>
                </tr>
                <tr>
                    <th>Karar Gerekçeleri</th>
                    <td
                        style="margin-left: -1px; border-left: solid 2px #ddd; width: 100%; display: flex; justify-content: center; align-items: center;">
                        <button class="action-button" style="height: 17px; font-size: 9px;">Detay</button>
                    </td>
                </tr>
                <tr>
                    <th>Fraud Kararı</th>
                    <td style="border-left: solid 2px #ddd;">{{ "a" }}</td>
                </tr>
                <tr>
                    <th>Fraud Karar Gerekçe Kodu</th>
                    <td style="border-left: solid 2px #ddd;">{{ "a" }}</td>
                </tr>
                <tr>
                    <th>Gelir Belgesi İstisnası</th>
                    <td style="border-left: solid 2px #ddd;">{{ "a" }}</td>
                </tr>
                <tr>
                    <th>KKB Açık Kodu</th>
                    <td style="border-left: solid 2px #ddd;">{{ "a" }}</td>
                </tr>
                <tr>
                    <th>KKB Kapalı Kodu</th>
                    <td style="border-left: solid 2px #ddd;">{{ "a" }}</td>
                </tr>
                <tr>
                    <th>Risk Merkezi Kodu</th>
                    <td style="border-left: solid 2px #ddd;">{{ "a" }}</td>
                </tr>
                <tr>
                    <th>KKB Açık Kpalaı Matris Sonucu</th>
                    <td style="border-left: solid 2px #ddd;">{{ "a" }}</td>
                </tr>
                <tr>
                    <th>MVT Sonuç Kodu</th>
                    <td style="border-left: solid 2px #ddd;">{{ "a" }}</td>
                </tr>
                <tr>
                    <th>LTV Oranı</th>
                    <td style="border-left: solid 2px #ddd;">{{ "a" }}</td>
                </tr>
                <tr>
                    <th>Borç Oranı</th>
                    <td style="border-left: solid 2px #ddd;">{{ "a" }}</td>
                </tr>
            </table>
        </div>
    </div>
    <!--tab 3-->

    <!--tab 4-->
    <div class="col-8 align-items-center mt-3" *ngIf="selectedTab == 4">
        <div style="flex: 1; border: solid 2px #ddd;">
            <table class="vertical-table">
                <tr>
                    <th>Diğer Başvurular</th>
                    <td style="border-left: solid 2px #ddd;">{{ "a" }}</td>
                </tr>
                <tr>
                    <th>Anı APS Kodundan, Aynı Bayiden Son 7 Gün İçerisinde Gelen, Aynı Cep Telefonu, Farklı TC Kimlik
                        No'lu, Aynı İş Telefonu ile olan başvurular</th>
                    <td style="border-left: solid 2px #ddd;">{{ "a" }}</td>
                </tr>
            </table>
        </div>
    </div>
    <!--tab -->

    <!--tab 5-->
    <div class="col-12 align-items-center mt-3" *ngIf="selectedTab == 5">
        <div class="results-table mt-1" style="flex: 1; border: solid 2px #ddd;">
            <table class="table">
                <thead>
                    <tr>
                        <th>YENİ STATÜ</th>
                        <th>ESKİ STATÜ</th>
                        <th>TARİH-SAAT</th>
                        <th>KULLANICI</th>
                        <th>BAYİ</th>
                        <th>IP</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Table row -->
                    <tr *ngFor="let item of items; let i = index;">
                        <td style=" border-left: solid 2px #efefef">{{ "a" }}</td>
                        <td>{{ "a" }}</td>
                        <td>{{ "a" }}</td>
                        <td>{{ "a" }}</td>
                        <td>{{ "a" }}</td>
                        <td style="border-right: solid 2px #efefef;">{{ "a" }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--tab 5-->

    <!--decision overlay-->
    <div class="decision-overlay" *ngIf="showDecision">
        <div style="width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center;">
            <div style="background: #d6d3d3; border-radius: 16px; width: 480px; padding: 32px; border: solid 2px #bbb;">
                <div class="inputs" style="flex: 1;">
                    <div style="display: flex; justify-content: space-between;">
                        <select style="width:30%;">
                            <option value="" disabled selected>Karar</option>
                            <option value="a">A</option>
                            <option value="b">B</option>
                        </select>
                        <select style="width: calc(70% - 16px);">
                            <option value="" disabled selected>Finansman Türü</option>
                            <option value="a">A</option>
                            <option value="b">B</option>
                        </select>
                    </div>

                    <input placeholder="Açıklama" style="width: 100%;" />

                    <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center;">
                        <div class="custom-control custom-checkbox" style="margin-right: 16px;">
                            <input type="checkbox" class="custom-control-input" style="z-index: 1;" />
                            <label class="custom-control-label" style="font-size: 12px;">Gelir Belgesi Al</label>
                        </div>
                        <input placeholder="Önerilen Limit" style="width:160px; margin-bottom: 0;" />
                    </div>


                    <div
                        style="margin-top: 32px; display: flex; flex-direction: row; justify-content: space-between; align-items: center; gap: 16px;">
                        <button class="big-button" style="color: #1c4a84; background: white; border: solid 2px #1c4a84;"
                            (click)="showDecision = false">Vazgeç</button>
                        <button (click)="showDecision = false" class="big-button">Onayla</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--decision overlay-->


    <div class="col-10 d-flex justify-content-end mt-3"><button class="action-button"
            style="margin-left: 16px; height: 24px;">Geri</button>
    </div>
</div>