@import '@core/scss/base/pages/page-auth.scss';
input::placeholder {
    color: #444 !important;
    opacity: 1 !important; /* Firefox */
  }
  
  ::-ms-input-placeholder { /* Edge 12-18 */
    color: #444 !important;
  }
  .auth-help-icon {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .login-input{
    background: #f6f6f6;
    border: none;
    border-radius: 32px;
    font-style: italic;
    padding: 8px 20px;
  }
  .parallax-bg-1, .parallax-bg-2{  
    transition: transform .3s;
  }