<div class="doc-control-container" style="min-width: 75rem;">
    <div class="form-input">
        <div class="form-group">
            <input type="text" placeholder="TC Kimlik No" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" placeholder="Başvuru No" class="form-control">
        </div>
      <button class="btn-submit">Getir</button>
    </div>
  
    <div class="authority-table-container">
        <table class="user-table">
            <thead>
              <tr>
                <th>Başvuru No</th>
                <th>TC Kimlik No</th>
                <th>Ad Soyad</th>
                <th>Bayi</th>
                <th>Kullanıcı</th>
                <th>Yüklenme Zamanı</th>
                <th>İşlem</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{ user.appNumber }}</td>
                <td>{{ user.identityNumber }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.dealer }}</td>
                <td>{{ user.user }}</td>
                <td>{{ user.uploadTime }}</td>
                <td class="actions">
                  <button class="select-btn">Seç</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>

    <div class="document-list-container">
        <div class="document-informations">
            <div class="documents-table-title">
                <h2 style="text-align: left;">EVRAK LİSTESİ</h2>
            </div>
            <table class="document-table">
              <tbody>
                <tr *ngFor="let document of documents; let i = index">
                  <td>{{ document.name }}</td>
                  <button class="view-btn" (click)="viewDocument(i)" [disabled]="document.viewed">
                    <i class="bi bi-file-earmark-text view-button"></i>
                  </button>
                  <td>
                    <button class="confirm-btn" (click)="toggleConfirm(i)" style="border-left: 3px solid #ccc;">
                        <i class="bi bi-check-lg confirm-button" style="padding-left: 1rem;"
                           [ngStyle]="{'color': document.confirmed ? '#14d314' : '#ccc'}"></i>
                    </button>
                    <button class="reject-btn" (click)="toggleReject(i)" style="border-right: 3px solid #ccc;">
                        <i class="bi bi-x-lg reject-button" style="padding-right: 1rem;"
                           [ngStyle]="{'color': document.rejected ? '#ff1919' : '#ccc'}"></i>
                    </button>
                  </td>
                  <td>
                    {{document.comment}}
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
        <button class="save-button" (click)="saveDocuments()">Kaydet</button>
      </div>

      <div class="form-input" style="margin-top: 1.3rem;">
        <div class="form-group" style="width: 50%;">
            <input type="text" placeholder="Karar Gerekçesi" class="form-control">
        </div>
      <button class="btn-submit-reject">Reddet</button>
    </div>
    
  </div>