::placeholder {
    color: #444 !important;
    opacity: 1 !important;
}

input {
    border-radius: 32px;
    border: solid 2px #efefef;
    padding: 6px 16px;
}

button{
    margin-top: 2rem;
    color: white;
    font-size: 12px;
    background: #1c4a84;
    border-radius: 8px;
    border: none;
    padding: 4px 16px;
}